* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
  }
  
  a {
    text-decoration: none;
    color: #337ab7;
  }
  
  a:hover {
    color: #23527c;
  }
  
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  header nav ul li {
    margin-right: 20px;
  }
  
  header nav a {
    color: #fff;
    transition: color 0.2s ease;
  }
  
  header nav a:hover {
    color: #ccc;
  }

  
  .contrate-me {
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    border-radius: 10px;
  }
  
  .contrate-me h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #333;
    font-weight: bold;
  }
  
  .contrate-me p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #666;
    line-height: 1.8;
  }
  
  .contrate-me form {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .contrate-me form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 18px;
  }
  
  .contrate-me form input, .contrate-me form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contrate-me form button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .contrate-me form button:hover {
    background-color: #3e8e41;
  }
  
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    clear: both;
    border-top: 1px solid #444;
  }
  
  footer p {
    font-size: 14px;
    margin-bottom: 10px;
    color: #ccc;
  }
  
  /* Media Queries */
  
  @media (max-width: 768px) {
    .contrate-me form {
      width: 70%;
    }
  }
  
  @media (max-width: 480px) {
    .contrate-me form {
      width: 90%;
    }
  }
  
  @media (max-width: 320px) {
    .contrate-me form {
      width: 100%;
    }
  }